<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Console</title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body>

    <% ax = 3; %>
    <%- include('partials/nav'); -%>


    <% function getdmh(ts){ %>
    <% let dt = new Date(ts) %>
    <% let day = dt.getDay() %>
    <% let date = dt.getDate() %>
    <% let month = dt.getMonth() %>
    <% let year = dt.getFullYear() %>
    <% let week = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat"] %>
    <% let mon = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug","Sep", "Oct", "Now", "Dec"] %>
    <% return `${week[day-1]} ${date} ${mon[month]} ${year}` %>
    <% } %>


    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <br>
                <h2 class="d-inline">Admin Console</h2>
                <hr>
                <div class="red code"><%= (typeof(e) == 'undefined')?"":e %></div>



                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Manage Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Manage Spreadsheets</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                            aria-controls="contact" aria-selected="false">Contact</a>
                    </li> -->
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">



                        <div class="row-y mt-4">
                            <% if(typeof(rs) != 'undefined'){%>
                            <h2>Users:</h2>
                            <hr>
                            <% for(var i=0;i < rs.length; i++) {%>
                            <div class="row">
                                <span class="sl col-sm-1"><%= i+1 %>. &nbsp;</span>
                                <span class="email col-sm-4"><%= rs[i].email %> &nbsp;</span>
                                <span class="acc-type col-sm-3"><%= (rs[i].acc_type == 1)?"Admin user":"Normal user" %>
                                    &nbsp;</span>
                                <span class="actions col-sm-4">
                                    <form action="/deleteAccount" method="post" class="d-inline float-right">
                                        <input type="text" name="uid" class="uid" id="<%=rs[i].id%>"
                                            value="<%=rs[i].id%>" hidden>
                                        <button class="btn btn-danger d-inline"><i
                                                class="fas fa-trash-alt"></i></button>
                                    </form>

                                    <form action="/changeUserPassword" method="post" class="d-inline float-right">
                                        <input type="text" name="uid" class="uid" id="<%=rs[i].id%>"
                                            value="<%=rs[i].id%>" hidden>
                                        <input type="text" name="email" class="email" value="<%=rs[i].email%>" hidden>
                                        <button class="btn btn-info d-inline"><i class="fas fa-user-edit"></i></button>
                                        &nbsp;
                                    </form>
                                </span>
                            </div>
                            <hr>
                            <%}}%>
                        </div>



                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="mt-4 w-100">
                            <h2>Private Spreadsheet:</h2>
                            <hr>
                            <% let ct = 0; if(typeof(sheets) != 'undefined'){%>
                            <% sheets.forEach(function(e){ if(e.is_shared == "0") { %>

                            <div class="row">
                                <span class="sl col-sm-1"><%= ct+1 %>. &nbsp;</span>
                                <span class="email col-sm-4"><a href="/sheet/<%= e.id%>"><%= e.name %></a></span>
                                <span class="acc-type col-sm-3"><%= getdmh(e.created_on) %></span>

                                <span class="actions col-sm-4">

                                    <div class="dropdown d-inline-block float-right">
                                        <a class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/sheet/<%= e.id%>">Edit</a>
                                            <form action="/delete_sheet" class="d-inline-block w-100" method="post">
                                                <input type="text" name="id" class="hidden" value="<%= e.id %>">
                                                <input type="text" name="redirect" class="hidden" value="/admin">
                                                <input type="submit" class="dropdown-item" value="Delete">
                                            </form>

                                            <form action="/update_sheet_share" class="d-inline-block w-100"
                                                method="post">
                                                <input type="text" name="id" class="hidden" value="<%= e.id %>">
                                                <input type="text" name="is_shared" class="hidden"
                                                    value="<%= (e.is_shared == '0')?1:0 %>">
                                                <input type="text" name="redirect" class="hidden" value="/admin">
                                                <input type="submit" class="dropdown-item"
                                                    value="<%= (e.is_shared == '0')?'Set sheet as shared':'Set sheet as private' %>">
                                            </form>

                                        </div>
                                    </div>

                                </span>

                            </div>
                            <hr>
                            <% }})} %>
                        </div>



                        <div class="mt-4 w-100">
                            <h2>Shared Spreadsheet:</h2>
                            <hr>
                            <% ct = 0; if(typeof(sheets) != 'undefined'){%>
                            <% sheets.forEach(function(e){ if(e.is_shared == "1") { %>

                            <div class="row">
                                <span class="sl col-sm-1"><%= ct+1 %>. &nbsp;</span>
                                <span class="email col-sm-4"><a href="/sheet/<%= e.id%>"><%= e.name %></a></span>
                                <span class="acc-type col-sm-3"><%= getdmh(e.created_on) %></span>

                                <span class="actions col-sm-4">

                                    <div class="dropdown d-inline-block float-right">
                                        <a class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/sheet/<%= e.id%>">Edit</a>
                                            <form action="/delete_sheet" class="d-inline-block w-100" method="post">
                                                <input type="text" name="id" class="hidden" value="<%= e.id %>">
                                                <input type="text" name="redirect" class="hidden" value="/admin">
                                                <input type="submit" class="dropdown-item" value="Delete">
                                            </form>

                                            <form action="/update_sheet_share" class="d-inline-block w-100"
                                                method="post">
                                                <input type="text" name="id" class="hidden" value="<%= e.id %>">
                                                <input type="text" name="is_shared" class="hidden"
                                                    value="<%= (e.is_shared == '0')?1:0 %>">
                                                <input type="text" name="redirect" class="hidden" value="/admin">
                                                <input type="submit" class="dropdown-item"
                                                    value="<%= (e.is_shared == '0')?'Set sheet as shared':'Set sheet as private' %>">
                                            </form>

                                        </div>
                                    </div>

                                </span>

                            </div>
                            <hr>

                            <% }})} %>
                        </div>
                    </div>
                    <!-- <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">3</div> -->
                </div>


            </div>
        </div>

    </div>

    <%- include('partials/scripts'); -%>

    <script src="/js/index.js"></script>
</body>

</html>